variables:
  DOCKER_DRIVER: overlay2
  PORT: 9308
  DOCKERHUB_REPO_PREFIX: ixdotai
  DOCKERHUB_REPO_NAME: crypto-exporter

include:
  - remote: https://gitlab.com/ix.ai/ci-templates/raw/master/python-project.yml
